name: tests

on: push

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Copy .env
        run: cp .env.example .env
      - name: Build containers
        run: |
          chmod a+x php-cs-fixer-v3.phar
          docker-compose -f docker-compose.test.yml build fpm
          docker-compose -f docker-compose.test.yml up -d redis
          docker-compose -f docker-compose.test.yml run --rm fpm composer install
          docker-compose -f docker-compose.test.yml run --rm fpm yarn build
      - name: Run lint/prettier checks
        run: |
          docker-compose -f docker-compose.test.yml run --rm fpm composer fix-cs-check
          docker-compose -f docker-compose.test.yml run --rm fpm yarn
          docker-compose -f docker-compose.test.yml run --rm fpm yarn prettier:check
          docker-compose -f docker-compose.test.yml run --rm fpm yarn test
      - name: Generate Key
        run: |
          docker-compose -f docker-compose.test.yml run --rm fpm php artisan key:generate
      - name: Run PHPUnit Tests
        run: |
          docker-compose -f docker-compose.test.yml run --rm fpm php artisan test --coverage --min=85
